# If you want to test functionality of Stripe, you need a '.env.local' file with
# the below variables, BUT with your own values for them (meaning you'd need
# to create a Stripe Test account and use its PUBLISHABLE and SECRET keys)

# Stripe API keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key_here
STRIPE_SECRET_KEY=sk_test_your_secret_key_here

# Application configuration
NEXT_PUBLIC_DOMAIN=http://localhost:3000 # Or whatever port you use for testing