rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow new users to create their own profile document
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Message permissions
    match /messages/{messageId} {
      allow read: if request.auth != null && 
        (resource.data.senderId == request.auth.uid || 
         resource.data.receiverId == request.auth.uid);
      
      allow create: if request.auth != null && 
        request.resource.data.senderId == request.auth.uid;
      
      allow update: if request.auth != null && 
        (resource.data.receiverId == request.auth.uid ||
         resource.data.senderId == request.auth.uid);
    }

    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
